@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "tailwindcss";

@theme {
  /* Define CSS custom properties for gold palette */
  --gold-50: #fff9e6;
  --gold-100: #fff3bf;
  --gold-200: #ffe680;
  --gold-300: #ffd940;
  --gold-400: #ffca00;
  --gold-500: #e2b63a;
  --gold-600: #b38c2d;
  --gold-700: #7f631f;
  --gold-800: #4c3a12;
  --gold-900: #1a0f03;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

@layer utilities {
  /* Create utility classes that use the CSS vars */
  .text-gold-500 {
    color: var(--gold-500);
  }
  .bg-gold-500 {
    background-color: var(--gold-500);
  }

  .border-gold-500 {
    border-color: var(--gold-500);
  }
   .hover\:text-gold-500:hover {
    color: var(--gold-500);
  /* Add more classes as needed */
  }
  /* Font family utility */
  .font-montserrat {
    font-family: var(--font-montserrat);
  }
   .font-roboto {
    font-family: var(--font-roboto);
  }
  .nav-gradient {
  background: linear-gradient(to bottom, rgb(0, 0, 0) 88%, rgba(0,0,0,0.5) 98%, rgba(0,0,0,0) 100%);
}

.main-gradient {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3) 10%, rgba(0,0,0,0) 100%);
}

.bg-main-picture {
    background-image: url('/images/mainPicture3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Perfect Fourth typescale*/

.textSizeh1 {
  font-size: 5.61rem;
}

.textSizeh2 {
  font-size: 4.21rem;
}

.textSizeh3 {
  font-size: 3.16rem;
}

.textSizeh4 {
  font-size: 2.37rem;
}

.textSizeh5 {
  font-size: 1.78rem;
}

.textSizeh6 {
  font-size: 1.33rem;
}

.textSizep {
  font-size: 1rem;
}

.textSizesmall {
  font-size: 0.75rem;
}

.textSize0 {
  font-size: 0.563rem;
}

}

